# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode/ # VSCode
.idea/ # PyCharm
*.sublime-project
*.sublime-workspace

# Testing
.pytest_cache/
.coverage
htmlcov/

# Miscellaneous
*.log
*.sqlite3
*.csv
*.json # If these contain sensitive data or are generated
*.csv

